@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
  }
}

a.text{
  color: red;}

body {
  overflow: hidden;
}

canvas {
  display: block;
}

#particles-js {
  z-index: -1;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-color: #1e1e2e;
  font-family: 'DynaPuff', cursive;
  font-weight: 400;
}


.title {
  line-height: 400px;
  text-align: center;
  margin: auto;
  
  font-size: 150px;
  color: #5a4aed;
font-family: 'DynaPuff', cursive;

}

i {
  font-size: 50px;
  margin-right: 5px;

}
.dropbtn {
  background-color:transparent;
  color:#5a4aed;
  padding: 16px;
  font-size: 60px;
  border: none;
  cursor: pointer;
  }
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #16192b;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 30px;
  font-family: 'DynaPuff', cursive;
  }
  
  .dropdown-content a {
  color: #5a4aed;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  font-family: 'DynaPuff', cursive;
  }
  
  .dropdown-content a:hover {background-color: #16192b}
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown:hover .dropbtn {
    -webkit-transform: scale(1.2) rotate(0.01deg);
    transform: scale(1.2);
    }

.title a {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.title a:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2);
  display: inline-block;
}

.navdiv {
margin: auto;
text-align: center;
justify-content: center;
  transform: translate(-50%, -50%);
}

.navbar {
  text-align: center;
  border: 6px solid #5a4aed;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.alertBox {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
  
  position: absolute;
  right: 0px;
  top: 0px;

  display: flex;
  flex-wrap: wrap;
  
  padding: 10px;

  width: 180px;
}

.alert {
  cursor: pointer;
  
  border-radius: 10px;
  width: 150px;
  text-align: center;
  border:#5a4aed;
  

  animation-name: alert;
  animation-duration: 1s;

  z-index: 999999999;
  padding: 10px;
}

.navbar img {
  margin-left: 6px;
  width: 48px; height: 48px;
  
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.navbar img:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2);
  display: inline-block;
}

form input {
  z-index: 99999999999;
  background: none;
  font-family: 'DynaPuff', cursive;
  height: 48px;
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 250px;
  margin: auto;
  margin-top: auto;
  border: 1px solid rgba(253, 253, 253, 0.514);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  bottom: 100px;
}


.container {
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 28%;
	top: center;
}



#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 800px;
	height: 465px;
	padding: 0;
	text-align: center;
	border-radius: 12px;
	font-family: 'Quicksand', sans-serif;

}


#glist::-webkit-scrollbar {
	display: none;
}

.box {
background-color: #131620;
width: 700px;
border-radius: 11px;
margin: auto;
padding: 50px;
display: block;
}

.item img {
	width: 100px;
    height: 100px;

    margin-top: 30px;
	display: grid;
	float: right;

}
.item img {
    border-radius: 8px;
		width: 100px;
    height: 100px;
    display: block;
  margin:auto;
}

img{
    width: 300px;
    height: 200px;
    vertical-align: center;
    display: grid; 
	
}

.item {
  display: grid;
  display: block;
  margin:auto;
  margin: auto;

}

  div.item {
  
    display: inline-block;
    width: 188px;
    margin: auto;
  

}


.loader {
  border: 16px solid#1b1f2e; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 500px;
}




